.header {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.custom-li {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}



.custom-li a {
  text-decoration: none;
  color: white;
}

.b-flex {
  display: flex;
  flex-direction: row;
  min-width: 80vw;
  align-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.header ul li {
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  list-style-type: none;
}

.header ul li:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}

.header button {
  height: 2.2rem;
  margin-top: 3px;
}





